@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');


body {
    font-family: 'League Spartan', sans-serif;
    background: #f7f7f7;
}

.cart-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 30px;
}

.cart-left h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 30px 1fr 150px 120px 50px;
    align-items: center;
    background: center;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-info .name {
    font-size: 14px;
    color: #333;
}

.price {
    font-weight: 600;
    color: #1f3d4d;
}

.qty-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-box {
    margin-right: 0;
    border: none;
    width: 20px;

}

.qty-btn {
    border: none;
    background-color: #eee;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plus-btn {
    margin-left: 5px;
}


.cart-right h3 {
    margin-bottom: 20px;
    border: none;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #333;
}

.summary-row.total {
    font-weight: 700;
    color: #1f3d4d;
    font-size: 16px;
}

.checkout-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: red;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.deletebtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletebtn button {
    border: none;
    background: none;
    cursor: pointer;
    color: red;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .cart-page {
        grid-template-columns: 1fr;
    }

    .cart-item {
        grid-template-columns: 30px 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 15px;
        row-gap: 10px;
        padding: 15px;
    }

    .select-item {
        grid-row: 1 / 2;
        grid-column: 1;
        align-self: start;
        margin-top: 15px;
    }

    .item-info {
        grid-row: 1;
        grid-column: 2;
    }

    .price {
        grid-row: 2;
        grid-column: 2;
    }

    .qty-container {
        grid-row: 3;
        grid-column: 2;
        justify-self: start;
    }

    .deletebtn {
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
    }

    .cart-right {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
}