@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');


.payment-method-selection {
    max-width: 500px;
    font-family: 'League Spartan', sans-serif;
    margin: 0 auto;
}

.payment-method-selection h2 {
    margin-bottom: 15px;
    font-size: 1.4em;

}

.payment-method-selection input[type="radio"] {
    display: none;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
}

.payment-option:hover {
    border-color: #999;
}

.payment-method-selection input[type="radio"]:checked+.payment-option {
    border-color: #0d861f;
    background-color: #e9f5ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.option-details {
    display: flex;
    flex-direction: column;
}

.option-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.option-subtitle {
    font-size: 0.9em;
    color: #777;
    margin-top: 3px;

}

#cod {
    color: #0baf24;
}

#card {
    color: #e4db53;
}


/* card adding */

.card-details-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    background-color: #f9f9f9;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.form-group input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;

}

.form-group-split {
    display: flex;
    gap: 20px;
}

.expiry-group {
    flex: 2;
}

.cvv-group {
    flex: 1;
}

.expiry-inputs {
    display: flex;
    align-items: center;
}

.expiry-inputs input {
    width: 45%;
    text-align: center;
}

.expiry-inputs span {
    margin: 0 5px;
    font-size: 1.2em;
    color: #555;
}


/* card adding end */


.pay-btn {
    color: #fff;
    background-color: red;
    padding: 10px 70px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    margin: 20px auto;
}